body {
    /*background: #c8233320;*/
}

.added {
    font-style: normal;
    font-weight: 500;
    background: #1e7e3420;
}

.added:hover {
    background: #1e7e3450;
}

.debug-print {
    background: #eee;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #aaa;
    border-radius: 12px;
}
